
#content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-family: 'Open Sans', sans-serif;
}

#content h2 {
    font-family: 'Pacifico', cursive;
}